# Flask Configuration
SECRET_KEY='07669c98b526439269368813f8a419e8'
FLASK_APP=run.py
FLASK_DEBUG=False

# Database Configuration (SQLite by default, or Postgres for production)
SQLALCHEMY_DATABASE_URI='mysql+pymysql://root:12345678@localhost/report-it-now-flask'

# Google Maps API (Required for the location autocomplete)
GOOGLE_MAPS_API_KEY='AIzaSyAlTSdGY36m2e4yhEltEf2guPlNrMO6FlY'
# Email Configuration (For status update notifications)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME='citylinkconnect@gmail.com'
MAIL_PASSWORD='ngua hulj qwde lcss'
MAIL_DEFAULT_SENDER='citylinkconnect@gmail.com' 
